#note-window {
	-fx-background-color: rgba(30, 26, 31, 0.8);
}

 .jfx-text-field{
    -jfx-unfocus-color: white;
    -fx-text-fill: white;
}

#add-button {
	-fx-background-color: snow;
}

#update-button {
	-fx-background-color: snow;
}

#cancel-button {
	-fx-background-color: snow;
}